html, body {
  margin: 0;
  height: 100%;
  background-color: pink;
}

#root {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#ismo {
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: darkgreen;
	font-size: 250%;
}

#kuva {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}